.insVi-layout {
    background: url(../../assets/images/cool-background.svg) no-repeat center/cover;
    background-color: $black;
}
    

.isv-page{
    width:100vw;
    height:100vh;
    margin-bottom: 150px;
    .red{
        color: $red;
        }
.Inscription {
    position: absolute;
    width: 477px;
    height: 455px;
    left: 634px;
    top: 460px;
    background: rgba(14, 27, 46, 0.51);
    box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.48);
    border-radius: 8px;
}
.Connexion {
display: flex;
position: absolute;
width: 421px;
height: 258px;
left: 199px;
top: 602px;
background: rgba(14, 27, 46, 0.51);
box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.48);
border-radius: 8px;
flex-direction: column;
}
}

@media screen and (max-width: 500px) {
    
    .isv-page{
        @include flex;
        flex-direction: column;
        margin-bottom: 600px;

    .Inscription {
        position: absolute;
        width: 370px;
        height: 400px;
        left: 10px;
        top: 400px;
        background: rgba(14, 27, 46, 0.51);
        box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.48);
        border-radius: 8px;
    
    }
    .Connexion {
    display: flex;
    position: absolute;
    width: 370px;
    height: 250px;
    left: 10px;
    top: 1000px;
    background: rgba(14, 27, 46, 0.51);
    box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.48);
    border-radius: 8px;
    flex-direction: column;
    }
}




}
