.insch-layout {
    background: url(../../assets/images/cool-background-b.svg) no-repeat center/cover;
    // background-size: contain;
    background-color: $black;
}
.ih-page{
    width:100vw;
    height: 140vh;
}
.ih-page h3{
    color:$white;
}
.ih-title{
    position: absolute;
width: 814px;
// height: 8vh;
left: 102px;
top: 210px;
font-family: 'IM FELL French Canon SC';
font-style: normal;
// font-weight: 400;
font-size: 34px;
// line-height: 7vh;
/* identical to box height */


color: #F7F7F7;

}
.ih-container h2 {
    font-size: 22px;
    color: $white;
    padding: 50px 0 42px 0;
    font-family: $fontTitre;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
}
.Inscription {
    position: absolute;
    width: 421px;
    height: 435px;
    left: 1040px;
    top: 390px;
    background: rgba(247, 247, 247, 0.3);
    box-shadow: 4px 4px 108px rgba(0, 175, 255, 0.29);
    border-radius: 8px;
}
.Connexion{
    display: flex;
position: absolute;
width: 421px;
height: 258px;
left: 199px;
top: 560px;
background: rgba(14, 27, 46, 0.39);
flex-direction: column;
background: rgba(247, 247, 247, 0.3);
box-shadow: 4px 4px 108px rgba(0, 175, 255, 0.29);
border-radius: 8px;
}
.blue{
    color: blue;
}



@media screen and (min-width: 350px)and (max-width:1028px) {
    .ih-page{
        
        height: 181vh;
    }
    .Inscription{
        left: 105px;
        top:979px;
    }
    .ih-title{
        width:558px;
        left:28px;
        top:237px;
    }
    .Connexion{
        left:100px;
        top:495px;
    }
}
