.tittle {
    font-family: $fontTitre;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.formulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cadre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 317px;
    background-color: #f7f7f7;
    border-radius: 30px;
    flex-direction: column;

}

.texte {
    width: 70%;
}

.message {
    width: 247px;
    height: 91px;
    border-radius: 5%;
}

.button-envoyez {
    margin-top: 40px;
    background-color: green;
    color: $white;
    font-family: $fontTitre;
    font-size: large;
    border : 1px solid green;
    border-radius: 30px;
    width: 103px;
    height: 40px;
    cursor: pointer;
}