.isv-container h2 {
    font-size: 22px;
    color: $white;
    padding: 50px 0 42px 0;
    font-family: $fontTitre;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
}
.isv-smoke{
    display: flex;
    // height: 100vh;
    position: absolute;
    right: 45%;
    top: 67px;
    z-index: -1;
    animation: animateSmoke 15s linear infinite;
animation-direction: normal;
}
@keyframes animateSmoke {
    0% {
        right:-200px;
    }

    100% {
        right: 90%;
        opacity: 0.65;
   }
}
@media screen and (max-width: 620px) and (min-width:320px) {
    .isv-smoke{
        height: 80%;
        right: 75%;
        
    }
    .isv-container h2{
        padding: 10px;
        margin: 10px;
    }
}