.vilainpictures h2{
    
    color:$white;
    font-family: $fontTitre;
}
.cards{
    .card-body{
        background:no-repeat url('../assets/images/cadre.png');
        width: 450px;
        height: 400px;
        position:relative;
        margin: 20px 0 0 30px;
        padding: 10px 0 0 10px;
    }
    .description{
        color:$white;
        font-family: $fontTexte;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        padding: 35px;
        top: 260px;
    }
    .pseudo{
            left: 130px;
            position: relative;
            top: 25px;
        }  
    }
    .frame{
        height: 300px;
        display: flex;
            }
    