.blockFilterCatalogue{
    width: 50%;
    height: 100%;
    @include flex;
    flex-direction: column;
    padding: 10px;
    .blockButtonFilterCatalogue{
        @include flex;
        justify-content: space-around;
        width: 50%;
        .addFilter{
            @include flex;
            height: 40px;
            width: 50%;
            border: solid 1px;
            font-family: $fontTexte;
            font-weight: bold;
            gap:5px;
            span{
                font-size: 20px;
            }
        }
        .search{
            background-color:$blue;
            border-radius: 10px;
            width: 150px;
            height: 30px;
            color: $white;
            font-family: $fontTexte;
            border: none;
            box-shadow: 0px 0px 2px 1px $blue;
        }
    }
}
