.AllC{
    display: flex;
    justify-content: center;
}
.connexion-titre {
    position: absolute;
    width: 342px;
    height: 52px;
    left: 239px;
    top: 440px;
    font-family: $fontTitre;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: $white;
}

.connect-pseudo  {
    font-size: 20px;
    position: absolute;
    padding: 20px;
    width: 288px;
    height: 40px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
    border-radius: 21px;
    display: flex;
    align-items: center;
    left: 65px;
    top: 40px;
}

.connect-mdp  {
    padding: 20px;
    font-size: 20px;
    position: absolute;
    width: 288px;
    height: 40px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
    border-radius: 21px;
    display: flex;
    align-items: center;
    left: 65px;
    top: 55%;

}

.connect {
    // font-size: 20px;
    font-family: $fontTitre;
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 30px;
    left: 138px;
    top: 302px;
    background: $white;
    border: 2px solid $white;
    box-shadow: 4px 4px 2px black;
    border-radius: 53px;
}
.connexion-sv .connect{
    left:180px;
}

.connect:hover {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
}

.connect:active {

    box-shadow: 0 5px #668;
    transform: translateY(5px);
}

input.check {
    position: absolute;
    top: 154px;
    left: 316px;
}

.Connexion-pseudo .message, .Inscription-pseudo .message{
    background: rgba(14, 27, 46, 0.51);
    border-radius: 8px;
    display: flex;
    position: absolute;
    z-index: 5;
    font-size: 30px;
    top: 32px;
    left: 24px;
    border: 10px;
    height: 200px;
    width: 370px;
    padding: 25px;
    color: $white;
    box-shadow: 3px 5px 9px $white;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 3px 2px 5px $white;
    a{
        color: $white;
    }
    
}
.connexion-sv .connexion-titre{
    
    left:1284px;
    top:184px

}
.connexion-sv .Connexion{
    left:1236px;
    top:285px;
    background: rgba(14, 27, 46, 0.51);
    box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.33);


}
@media screen and (max-width:500px)  {
    .AllC{
        display: flex;
        justify-content: center;
    }
        .connexion {
        position: absolute;
        width: 370px;
        height: 50px;
        left: 10px;
        top: 920px;
        font-family: $fontTitre;
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 52px;
        text-align: center;
        color: $white;
    }
    
    .connect-pseudo  {
        // font-size: 20px;
        position: absolute;
        padding: 20px;
        width: 320px;
        height: 40px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
        border-radius: 21px;
        display: flex;
        align-items: center;
        left: 35px;
        top: 55px;
    }
    
    .connect-mdp  {
        padding: 20px;
        position: absolute;
        width: 320px;
        height: 40px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
        border-radius: 21px;
        display: flex;
        align-items: center;
        left: 35px;
        top: 150px;
        
    }
    
    .connect {
        font-family: $fontTitre;
        box-sizing: border-box;
        position: absolute;
        width: 140px;
        height: 50px;
        left: 120px;
        top: 302px;
        background: $white;
        border: 2px solid $white;
        box-shadow: 4px 4px 2px black;
        border-radius: 53px;
    }
    
    
    
    .connect:hover {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(14, 27, 46, 0.74);
    }
    
    .connect:active {
        
        box-shadow: 0 5px #668;
        transform: translateY(5px);
    }
    
    input.check {
        position: absolute;
        top: 162px;
        left: 318px;
    }
    .connexion-sv .Connexion{
        left:11px;
        top:546px;
    }

.connexion-sv .connect  {
    width: 74px;
    height: 25px;
    left:151px;
    top:213px;
}
}