.blockDescription{
    display: flex;
}
.blockDescription::before{
    content: "";
    background-image: url('./Line 13.png');
    background-repeat: no-repeat;
    width: 25px;
    background-size: contain;
}
.modalDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    height: 80%;
    width: 500px;
    .title {
        font-size: xxx-large;
        display: flex;
    }

.logo {
    width: 25%;
}
.globalPanier {
    border: solid 1px;
    list-style-type: none;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 0px;
}
.globalPanier p{
    width: 60%;
    border-top: solid white 1px;
    text-align: center;
    line-height: 50px;
}
.listPanier{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.ligne {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.buttonG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 22px;  
}
.buttonP {
    width: 100px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border:none;
    margin: 10px 10px 10px 0px;
    width: 123px;
    height:25px
}
.buttonA {
    width: 100px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border:none; 
    margin: 10px 10px 10px 0px;
    width: 123px;
    height:25px
}
}
@media screen and (max-width: 820px) {
.blockDescription {
    flex-direction: column;
    align-items: center;
    }
.blockDescription::before{
    content: "";
    background-image: url('./Line 10.png');
    background-repeat: no-repeat;
    height: 25px;
    width: 500px;
    background-size: contain;
}
}






 