.filterCatalogue{
    width: 100%;
    @include flex;
    justify-content: space-between;
    background-color: $white;
    flex-direction: column;
    align-items: flex-start;
    select, .delete {
        background-color: $white;
        font-family: $fontTexte;
        border: solid 1px $black;
        height: 40px;
        padding: 10px;
        width: 180px;
    }
    .filterRow{
        margin: 5px 0px;
        display: flex;
        gap: 30px;
    }
    .filterListcategory{
        width: 160px;
    }
    .delete{
        width: 50px;
    }
}
.filterChoice{
    input{    
        width: 90px;
        background-color: $white;
        font-family: "./assets/fonts/BarlowCondensed-Regular.ttf";
        border: solid 1px $black;
        height: 40px;
        padding: 10px;
    }
}