.filterCatalogue{
    width: 100%;
    @include flex;
    justify-content: space-between;
    background-color: $white;

    margin: 5px 0px;
    select, .delete {
        background-color: $white;
        font-family: $fontTexte;
        border: solid 1px $black;
        height: 40px;
        padding: 10px;
        width: 140px;
    }
    .filterListcategory{
        width: 160px;
    }
    .delete{
        width: 80px;
    }
}
.filterChoice{
    input{    
        width: 100px;
        background-color: $white;
        font-family: "./assets/fonts/BarlowCondensed-Regular.ttf";
        border: solid 1px $black;
        height: 40px;
        padding: 10px;
    }
}