.footer-container {
    @include flex;
    justify-content: space-between;
    padding: 40px;
    width: 100vw;
    margin-top: 200px;
    position: relative;
}

.logo-container {   
    ul {
        @include flex
    }
    li {
        list-style-type: none;
        margin-right: 20px;
    }
    a {
        text-decoration: none;
        
    }
    img {
        width : 60px;
        height: auto;

        &:hover {
            transform: scale(1.1);
        }
    }
}
.contact {

    a {
        position: absolute;
        right: 50px;
        bottom: 60px;
        color: $white;
        font-family: $fontTexte;
        font-size: 1.8em;

        &:hover {
            transform: scale(1.1);
        }
    }
}