/* style burger */
.menu__burger{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 75px;
    padding: 1rem;
    background-color: transparent;
    color: $white;
    z-index: 2;
 }
 .menu__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100vw;
    top: 60px;
    height: 40vh;
    width: 230px;
    padding: 0.3em;
    border: 2px solid $white;
    border-radius: 10px;
    visibility: hidden;
    transition: all .8s ease-out;
 }
 .menu__link {
   @include flex;
    padding: 20px;
    color: inherit;
    font-size: 1rem;
    &:hover {
      font-size: 1.1rem;
    }
 }
 .menu__item {
    background-color: $grey;
    width: 210px;
    height: 100%;
    border-radius: 5px;
    margin: 4px;
    padding: 5px;
    border: 1px solid $white;
    transform: translateX(-100vw);

    &:hover {
      color: $grey;
      background-color: $white;
    }
 }

 .show-burger .menu__item {
    transform: translateX(0);
 }
 .show-burger .slideInLeft-1 {
    transition: all 1s ease-out;
 }
 .show-burger .slideInLeft-2 {
    transition: all 1.1s ease-out;
 }
 .show-burger .slideInLeft-3 {
    transition: all 1.2s ease-out;
 }
 .show-burger .slideInLeft-4 {
    transition: all 1.3s ease-out;
 }
 .burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    color: transparent;
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;

    &:hover {
        cursor: pointer;   
    }
 }
 
 .burger-bar,
 .burger-bar::before,
 .burger-bar::after {
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
    border-radius: 3px;
    background: $white;
    transition: all .5s ease-in-out;
 }
 .burger-bar::before,
 .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
 }
 .burger-bar::before {
    transform: translateY(-10px);
 }
 .burger-bar::after {
    transform: translateY(10px);
 }
 .show-burger .menu__links{
    left: 15px;
    visibility: visible;
 }
 .show-burger .burger-bar::before {
    transform: rotate(45deg);
 }
 .show-burger .burger-bar::after {
    transform: rotate(-45deg);
 }
 .show-burger .burger-bar {
    width: 0;
    background: transparent;
 }

 /* end style burger */

 .header-container {
   @include flex;
 }

 /* style title */
 .title {
    color: $white;
    font-family: $fontTitre;
    font-weight: 1;
    font-size: 80px;
    .red {
       color: $red;
      }
      .blue {
         color: $blue;
      }
   }    
 /* end style title */