.test-layout{
    background: url(../../assets/images/background-vague-red.svg) no-repeat center/cover;
    background-color: $black;
}

.test-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 100px;
}
.title-page-test{
    font-family: $fontTitre;
    font-size: 2em;
    color: $white;
    font-style: none;
    margin-left: 80px ;
    margin-top: 80px;

    .red {
        color: $red;
    }
}

.line-test{
    margin: 10px 50px;
}

.title-inscription{
    font-family: $fontTitre;
    font-weight: 300;
    font-size: 45px;
    color: $white;
    margin-left: 100px;
    margin-bottom: 50px;
}
                           // &&&&&&&&&&&&&&&&&&&&&&&&&&&   CARD INSCRIPTION   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
.Card-Test{
    background: rgba(14, 27, 46, 0.51);
    box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.33);
    border-radius: 8px;
    width: 900px;
    height: 500px;
    border: solid 2px black;
    margin-left: 80px;
}

.cadre-question {
    display: flex;
    margin: 20px;
    background-color: $white;
    border-radius: 10px;
}

.Container{
    display: flex;
    align-items: initial;
    flex-direction: column;
    padding: 20px 25px 15px 25px;
}



.Question {    
    width: 100%;
    padding: 10px;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $fontTitre;
}

.reponse-select{
    border-radius: 10px;
    border: none;
    transition: transform 0.5s ease-in-out;
    background-color: $white;
}
select:hover {
    transform: translateY(-10px);
  }


.bloc-bouton {
    display: flex;
    gap:25px;
    margin-right: 10px;
    align-items: center;
}

.Container button {

    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.True, .False{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.419);
}

.Container-Valid {
text-align: center;


}

.Valid {
    width: 80px;
    height: 30px;
    background-color: $white;
    color: $black;
    border: solid 2px;
    border-radius: 20px;
    font-family: $fontTitre ;
}




.score {
    position: absolute;
    left: 1400px;
    bottom: 250px;
    font-size: 50px;
    font-family: $fontTitre;
    font-weight: 300;
    color: $white;
    width: auto;
    padding: 20px;
    background: rgba(14, 27, 46, 0.51);
    box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.33);
    border-radius: 8px;
    border: solid 2px black;
}


/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
    .test-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 60px;

        .title-page-test{
            font-size: 1.2em;
            margin-left: 20px ;
            
            .red {
            color: $red;
        }
    }
    
    .line-test{
        width: 330px;
        margin: 10px 10px;
    }
    
    .title-inscription{
        font-size: 2em;
        margin-left: 40px;
    }
    // &&&&&&&&&&&&&&&&&&&&&&&&&&&   CARD INSCRIPTION   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
    
    .Card-Test{
        width: 370px;
        height: 400px;
        margin-left: 10px;
    }
    
    .cadre-question {
        margin: 5px;
    }
    
    .Container{
        padding: 10px 15px 10px 15px;
    }
    
    
    
    .Question {    
        padding: 5px;
    }
    
    .reponse-select{
        transition: transform 0.5s ease-in-out;
        &:hover {
            transform: translateY(-5px);
        }
    }
    .score {
        position: absolute;
        left: 10px;
        bottom: 200px;
        font-size: 50px;
        font-family: $fontTitre;
        color: $white;
        width: auto;
        padding: 20px;
        background: rgba(14, 27, 46, 0.51);
        box-shadow: 4px 4px 108px rgba(255, 0, 0, 0.33);
        border-radius: 8px;
        border: solid 2px black;
    }
}
}