.formRules {
    height: 60px;
    align-items: center;
    display: flex;
    font-family: $fontTexte;
    font-weight: bold;
    font-size: 20px;
}
.inputForm{
    top:3px;
    border:$grey;
    margin-left: 10px;
    position:relative;
    color:$black;
    height: 30px;
    font-family: $fontTexte;
    font-size: 20px;
}
.Inscription {
    box-shadow: 0px 0px 47px 1px $white;
    font-family: $fontTitre;
    text-shadow: 16px 16px 20px $grey;
    border-radius: 15px;
    background: $white;
    width: 500px;
    height: 450px;
    display: flex;
    color: $black;
    flex-direction: column;
    position: absolute;
    left:35%;
    padding: 60px;


        h3 {
            min-height: 70px;
            padding: 10px;
            text-align: center;
            font-size: 25px;
            margin-bottom: 60px;
        }
        p{
            font-family: $fontTexte;
        }
        button {
            filter: brightness(1);
            color: $white;
            font-family: $fontTitre;
            font-size: 25px;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 70%;
            left: 40%;
            border-radius: 10px;
            background-color: $red;
            box-shadow: 3px 5px 9px $red;
            margin: 20px;
        }
        button:hover{
            color:$grey;
            background-color: $white;
            box-shadow: 3px 5px 9px $grey;
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.2);
            
        }
        

        .Inscription-pseudo {
            @extend .formRules;
            input{
                @extend .inputForm;
                min-width: 300px;
            }
            
        }

        .Inscription-MDP {
            @extend .formRules;
            input{
                @extend .inputForm;
                min-width: 259px;
            }
        }

        .Inscription-MDP2 {
            @extend .formRules;
            input{
                @extend .inputForm;
                min-width: 171px;
            }
        }
}

.Inscription:hover{
    -ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5);
background: $black;
color: $white;
}

.message{
background: #9D0000;
    display: flex;
    position: absolute;
    z-index: 5;
    left: 12%;
    font-size: 30px;
    top:110px;
    border: 10px;
    border-radius: 10px;
    height: 200px;
    width: 370px;
    padding: 25px;
    color: #f7f7f7;
    font-family: "Guerrilla";
    box-shadow: 3px 5px 9px #9d0000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloodSplatter{
    display:flex;
    position: absolute;
    top:-200px;
    height: 400px;
}
.no{
background: $grey;
display:flex;
position: absolute;
z-index: 5;
left:28%;
border:10px;
border-radius: 10px;
height:150px;
width: 206px;
padding: 25px;
color:$white;
font-family: $fontTitre;
box-shadow: 3px 5px 9px $red;
}
@media screen and (min-weight:1024px) {
    
}