/* Styles */
@import "./settings.scss";
@import "./App.scss";
@import "../src/screens/Miniatures.scss";
@import "./components/styles/Header.scss";
@import "./screens/styles/Home.scss";
@import "./components/styles/Footer.scss";
@import "./components/styles/BlockFilterCatalogue.scss";
@import "./components/styles/FilterCatalogue.scss";
@import "./components/styles/Connectez-vous.scss";
@import "./components/styles/Cards.scss";
@import "./components/styles/Panier.scss";
@import "./components/styles/ModalPaiement.scss";
@import "../src/screens/Catalogue.scss";
@import "../src/screens/styles/NewsAndGame.scss";
@import "./components/styles/ResultatCatalogue.scss";




/* Settings Global */

* {
  margin: 0;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

body {
  background: $bg no-repeat center / cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}