/* Styles */
@import "./settings.scss";
@import "./App.scss";
@import "./screens/styles/InscriptionSuperVilain.scss";
@import "./components/styles/Inscription.scss";
@import "./components/styles/Header.scss";
@import "./components/styles/MenuBurger.scss";
@import "./screens/styles/Home.scss";
@import "./components/styles/Miniatures.scss";
@import "./components/styles/BlockFilterCatalogue.scss";
@import "./components/styles/FilterCatalogue.scss";
@import "./screens/styles/Connectez-vous.scss";
@import "./components/styles/Cards.scss";
@import "./screens/styles/Panier.scss";
@import "./components/styles/Description.scss";
@import "./components/styles/Selection.scss";
@import "./components/styles/ModalPaiement.scss";
@import "./screens/styles/Catalogue.scss";
@import "./screens/styles/NewsAndGame.scss";
@import "./components/styles/ResultatCatalogue.scss";
@import "./components/styles/Connexion.scss";
@import "./screens/styles/InscriptionHeros.scss";
@import "./components/styles/panierSelectionMiniature.scss";
@import "./components/styles/Footer.scss";
@import "./components/styles/Test.scss";
@import "./components/styles/ModalTest.scss";
@import "./screens/styles/Contact.scss";
@import "./components/styles/profilVilain.scss";
@import "./components/styles/InscriptionSV.scss";

/* Settings Global */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}