/* Colors */

$red: #9D0000;
$blue: #0012B0;
$black: #12181F;
$grey: #2a2a2a;
$white: #f7f7f7;
$whiteOpacity: #f7f7f710;


/* images */

$bg: url(./assets/images/Background.png);
$bghome: url(./assets/images/BgHome.png);


/* mixins */

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* fonts */

$fontTitre : 'Guerrilla';
$fontTexte : 'Barlow';
$fontCatalogue : 'IMFell';
@font-face {
    font-family: $fontTitre;
    src: url(./assets/fonts/GUERRILLA.ttf)
}
@font-face {
    font-family: $fontTexte;
    src: url(./assets/fonts/BarlowCondensed-Regular.ttf)
}
@font-face {
    font-family: $fontCatalogue;
    src: url(./assets/fonts/IMFellFrenchCanon-Regular.ttf)
}