/* Colors */

$red: #9D0000;
$blue: #0012B0;
$black: #0f0f0f;
$grey: #2a2a2a;
$white: #f7f7f7;


/* images */

$bg: url(./assets/images/Background.png);


/* mixins */

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* fonts */

$fontTitre : 'Guerrilla';
$fontTexte : 'Barlow';
@font-face {
    font-family: $fontTitre;
    src: url(./assets/fonts/GUERRILLA.ttf)
}
@font-face {
    font-family: $fontTexte;
    src: url(./assets/fonts/BarlowCondensed-Regular.ttf)
}